//
// Copyright (c) 2021 and Confidential to ___ORGANIZATIONNAME___ All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
BASE_URL = https:/$()/ws.audioscrobbler.com/2.0/
API_KEY = 2f57083d96cc31bff26a8250f0b70add
